<div class="footer-unlocked">
  <div class=" appBottomMenu">
    <!-- <a href="/vault" class="item">
      <div class="col">
        <ion-icon name="briefcase-outline"></ion-icon>
        <strong>Vault</strong>
      </div>
    </a> -->
    <a href="/transactions" class="item">
      <div class="col">
        <ion-icon name="newspaper-outline"></ion-icon>
        <strong>Transactions</strong>
      </div>
    </a>
    <a class="item" id="btnRequest" style="display: none;">
      <div class="col">
        <div class="action-button large">
          <ion-icon name="paper-plane-outline"></ion-icon>
        </div>
      </div>
    </a>
    <a href='/home' class="item" id="btnHome" style="display: none;">
      <div class="col">
        <div class="action-button large">
          <ion-icon name="home-outline"></ion-icon>
        </div>
      </div>
    </a>
    <!-- <a href="/history" class="item">
      <div class="col">
        <ion-icon name="receipt-outline"></ion-icon>
        <strong>History</strong>
      </div>
    </a> -->
    <a href="/profile" class="item">
      <div class="col">
        <ion-icon name="options-outline"></ion-icon>
        <strong>Settings</strong>
      </div>
    </a>
  </div>
</div>

<div class="footer-locked" style="display: none;">
  <div class="appBottomMenu">
    <a href="#" class="item">
      <div class="col">
      </div>
    </a>
    <a href="#" class="item">
      <div class="col">
      </div>
    </a>
    <a href="#" class="item" id="btnUnlock">
      <div class="col">
        <div class="action-button large">
          <ion-icon name="lock-closed"></ion-icon>
        </div>
      </div>
    </a>
    <a href="#" class="item">
      <div class="col">
      </div>
    </a>
    <a href="#" class="item">
      <div class="col">
      </div>
    </a>
  </div>
</div>