<!-- loader -->
<div id="loader">
  <div>
    <div class="spinner-grow text-primary mr-1" role="status">
    </div>

    <div class="spinner-grow text-success mr-1" role="status">
    </div>

    <div class="spinner-grow text-danger mr-1" role="status">
    </div>

    <div class="spinner-grow text-warning mr-1" role="status">
    </div>
  </div>
</div>

<!-- * loader -->

<div id="processing" style="display: none;">
  <span class="btn btn-lg mr-5 ml-5" style="background-color: white;">
    <span class="spinner-border spinner-border-sm mr-05 text-primary" role="status" aria-hidden="true"></span>
    <span class="processing-msg">Processing...</span>
    </button>
</div>
<!-- * loader -->

<!-- Search Component -->
<div id="search" class="appHeader">
  <form class="search-form">
    <div class="form-group searchbox">
      <input type="text" class="form-control" placeholder="Search...">
      <i class="input-icon">
        <ion-icon name="search-outline"></ion-icon>
      </i>
      <a href="javascript:;" class="ml-1 close toggle-searchbox">
        <ion-icon name="close-circle"></ion-icon>
      </a>
    </div>
  </form>
</div>
<!-- * Search Component -->