<div id="mdlQR" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Scan a QR Code</h4>
        <a href="javascript:;" data-dismiss="modal">Close</a>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <!-- <div id="qr-reader" style="width: 100%;"></div> -->
            <div id="qrscanner" style="overflow:hidden;display:block;">
              <video id="camera" style="width: 100%;"></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>