REACT_APP_GOOGLE_REDIRECT_URL = https://localhost:3601/google
REACT_APP_GOOGLE_CLIENT_ID = 560244322194-dnggedo1oaf8nqqk7fk0k7s01m5fjo0i.apps.googleusercontent.com
REACT_APP_DEFAULT_NETWORK = https://testnetwork.esatya.io
REACT_APP_DEFAULT_IPFS = https://upload.dev.rumsan.net
REACT_APP_DEFAULT_IPFS_DOWNLOAD = https://ipfs.dev.rumsan.net/ipfs
REACT_APP_DEFAULT_AGENCY_API = https://localhost:3601
ESLINT_NO_DEV_ERRORS=true
SKIP_PREFLIGHT_CHECK=true
GENERATE_SOURCEMAP=false
PORT=3300