<!doctype html>
<html lang="en">

<head>
  <%- include ("./_layouts/head")%>
</head>

<body class="bg-white">

  <div id="processing" style="display: none;">
    <span class="btn btn-lg mr-5 ml-5" style="background-color: white;">
      <span class="spinner-border spinner-border-sm mr-05 text-primary" role="status" aria-hidden="true"></span>
      <span class="processing-msg">Processing...</span>
      </button>
  </div>

  <!-- loader -->
  <div id="loader">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
  <!-- * loader -->

  <!-- App Header -->
  <div class="appHeader no-border transparent">
    <div class="left">
    </div>
    <div class="pageTitle">
      <img src="images/Rahat logo main.png" alt="logo" class="logo">
    </div>

  </div>


  <!-- * App Header -->

  <!-- App Capsule -->
  <div id="appCapsule">


    <div class="carousel-slider owl-carousel owl-theme">
      <div class="item p-2">
        <img src="images/vector1.png" alt="alt" class="imaged w-100 square mb-4">
        <h2>Mobile based cash voucher Assistance</h2>
        <p>Simple,Transparent, And Instant Digital Token Transfer System</p>
      </div>
      <div class="item p-2">
        <img src="images/vector2.png" alt="alt" class="imaged w-100 square mb-4">
        <h2>Mobile Money</h2>
        <p>Blockchain-based Token on your Mobile</p>
      </div>
      <div class="item p-2">
        <img src="images/vector3.png" alt="alt" class="imaged w-100 square mb-4">
        <h2>Distribute Rahat</h2>
        <p>Tokenized money for aid-distrbution</p>
      </div>
    </div>

    <div class="carousel-button-footer">
      <div class="row">

        <div class="col-12">
          <a id="startSignUp" class="btn btn-primary btn-lg btn-block">Get Started</a>
        </div>
      </div>
    </div>
  </div>

  <%- include ("./_layouts/foot")%>

  <script src="https://apis.google.com/js/api.js"></script>
  <script src="/js/app/slider.js?v=<%=app.version%>"></script>
</body>

</html>

<div id="mdlPasscode" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">First, let's setup your passcode</h4>
      </div>
      <div class="modal-body">
        <div class="row mb-5">
          <div class="col">
            <p>Choose a 6-digit passcode.</p>
            <input type="password" pattern="[0-9]*" inputmode="numeric" class="form-control verify-input passcode"
              placeholder="------" maxlength="6" autocomplete="false">
            <div class="text-center">
              <small class="text-danger message">
              </small>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="mdlLogin" class="modal fade" role="dialog" style="display: none;" data-backdrop="static">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login to Get Started</h4>
        <a href="javascript:;" data-dismiss="modal">Close</a>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="login-form">
            <div class="section mt-1 mb-5">
              <div class="row">
                <div class="col">
                  <a href="/setup/google" type="button" class="btn btn-danger" id="btnGoogle">
                    <ion-icon name="logo-google" role="img" class="md hydrated" aria-label="logo google">
                    </ion-icon>
                    Login using Google
                  </a>
                  <p class="mt-4"><small><b>Important</b>: This application does not
                      store any of your wallet data in our server. All the data is stored locally in the
                      browser. You are logging into Google to backup your wallet data with strong encryption.
                      <br /><br /><b>Advanced User</b>: If you do not want to back up your wallet data in Google, but
                      rather want to backup yourself using secret words, <br /><a
                        style="color:dodgerblue;cursor:default"
                        onclick="$('#mdlLogin').trigger('advanced-setup');return false;">Click
                        Here</a></small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- mnemonic generator modal -->
<div id="mdlSignUp" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"
  style="display: none;">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Login With Secret Words</h4>
        <a href="javascript:;" data-dismiss="modal">Close</a>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="login-form">
            <div class="section mt-2">
              <h1>Get started</h1>
              <h4>The new way to log in</h4>
            </div>
            <div class="section mt-4 mb-5">
              <form>

                <div class="row">
                  <div class="col">
                    <p>Whisper your 12 to 24 secret words to login</p>
                    <textarea type='text' style="width: 100%;border-color:gray;height:130px;"
                      name='mnemonic'></textarea>
                  </div>
                </div>

                <div class="form-links mt-2">
                  <div>
                    <a href="javascript:;" id="generateSecret">Generate New Secret</a>
                  </div>
                  <div><a href="#" class="text-muted">Secret Words?</a></div>
                </div>

                <div class="mt-2">
                  <button id="btnWhisper" type="button" class="btn btn-primary btn-block btn-lg">Whisper</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- backup passcode and login modal// -->
<div id="mdlSeedBackup" class="modal fade" role="dialog" style="display: none;">
  <div id="toast-4" class="toast-box toast-top bg-warning">
    <div class="in">
      <div class="text">
        Passcode Not Matched
      </div>
    </div>
  </div>
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Backup Secret Words</h4>

      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="login-form">
            <div class="section mt-2">
              <h4>Backup your secret words somewhere safe</h4>
            </div>
            <div class="section mt-4 mb-5">
              <form>
                <div class="row">
                  <div class="col">

                    <textarea readonly type='text' id="mnemonic" class="mark"
                      style="width: 100%;border-color:gray;height:130px;" name='mnemonic'></textarea>
                  </div>
                </div>
                <!-- <div class="form-group basic">
                  <div class="input-wrapper">
                    <label class="label" for="password1">New Passcode</label>
                    <input type="password" class="form-control" id="password" placeholder="Your passcode">
                    <i class="clear-input">
                      <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                    </i>
                  </div>
                </div>
                <div class="form-group basic">
                  <div class="input-wrapper">
                    <label class="label" for="password1">Confirm Passcode</label>
                    <input type="password" class="form-control" id="confirm_password"
                      placeholder="Confirm your passcode">
                    <i class="clear-input">
                      <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                    </i>
                  </div>
                </div>
                <div id="message">Passcode required.</div> -->

                <div class="mt-2">
                  <button id="btnLogin" type="button" class="btn btn-primary btn-block btn-lg">Login</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="mdlRegister" class="modal fade" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Register as Vendor</h4>
        <a href="javascript:;" data-dismiss="modal">Close</a>
      </div>
      <div class="modal-body">
        <div class="section mt-2 text-center">
          <h1 id=mdlAgencyName></h1>
          <h4>Fill the form to register</h4>
        </div>
        <div class="section mt-4 mb-5">
          <form>
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="name">Name</label>
                <input type="text" class="form-control" id="name" name='name' placeholder="Your Full Name">
                <i class="clear-input">
                  <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                </i>
              </div>
            </div>
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name='email' placeholder="Your e-mail">
                <i class="clear-input">
                  <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                </i>
              </div>
            </div>

            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="phone">phone</label>
                <input type="number" class="form-control" id="phone" name='phone' placeholder="Phone Number">
                <i class="clear-input">
                  <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                </i>
              </div>
            </div>
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="location">Location/Address</label>
                <input type="text" class="form-control" id="loation" , name='address' placeholder="Address">
                <i class="clear-input">
                  <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                </i>
              </div>
            </div>



            <div class="mt-2">
              <button type="submit" class="btn btn-primary btn-block btn-lg">Submit </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>